@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  padding: 1rem;
  background-image: url("./resources/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
body > .main-info {
  height: 68%;
  width: 25%;
  padding: 0.5rem;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
body > .forecast {
  height: 32%;
  padding: 0.5rem;
}

.main-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.main-info * {
  flex-grow: 1;
  flex-shrink: 1;
}
.main-info > .condition-info {
  font-weight: bold;
  color: white;
  height: 15%;
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 3fr;
  font-size: 1.9rem;
}
.main-info > .condition-info .condition-icon {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 80%;
  align-self: center;
  justify-self: center;
}
.main-info > .condition-info > :nth-child(n+2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-info > .weather-info {
  color: white;
  display: flex;
  justify-content: start;
  padding-left: 1rem;
  align-items: center;
  font-size: 1.9rem;
}
.main-info > .search {
  flex-grow: 0 !important;
  height: 6%;
  display: flex;
  column-gap: 5px;
}
.main-info > .search > :first-child {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.main-info > .search > :last-child {
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
}
.main-info > .search > :last-child:hover {
  background-color: grey;
}

.forecast {
  display: flex;
  column-gap: 0.5rem;
}
.forecast > div {
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.forecast > div * {
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forecast > div > .forecast-icon {
  width: 50%;
  height: 40%;
  align-self: center;
}

.switch-system {
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  z-index: 2;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.switch-system > span {
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
  border-radius: 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
  user-select: none;
}

.change-system {
  transform: translateX(100%);
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  animation: flipX 1s linear infinite;
}

@keyframes flipX {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

/*# sourceMappingURL=style.css.map */
